{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Xinti Sun",
  "url": "https://sunxinti.github.io/",
  "image": "https://sunxinti.github.io/images/profile.png",
  "email": "mailto:sunxinti@tmu.edu.cn",
  "jobTitle": "PhD Candidate",
  "affiliation": {
    "@type": "Organization",
    "name": "Chinese Academy of Medical Sciences & Peking Union Medical College"
  },
  "sameAs": [
    "https://orcid.org/0000-0002-4264-9567",
    "https://github.com/sunxinti"
  ]
}
</script>
